@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(236, 136, 111);
}

.color-p{
    background-color: rgb(236, 136, 111);
}

.img-small{
    width: 50px;
     height: 50px;
}